@import 'sport-app/theme';

@mixin button($type) {
  border: none;
  color: var(--text-white);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  margin: 0.5rem;
  background-color: var(--theme-#{$type});
}

@mixin small {
  font-size: 0.7rem;
  font-weight: bold;
}

@mixin large {
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
}

.primary {
  @include button('primary');
}

.primary-small {
  @extend .primary;
  @include small;
}

.primary-large {
  @extend .primary;
  @include large;
}

.secondary {
  @include button('secondary');
}

.secondary-small {
  @extend .secondary;
  @include small;
}

.secondary-large {
  @extend .secondary;
  @include large;
}

.accent {
  @include button('accent');
  color: var(--text-dark);
}

.accent-small {
  @extend .accent;
  @include small;
}

.accent-large {
  @extend .accent;
  @include large;
}

.dark {
  @include button('dark');
  color: var(--text);
}

.dark-small {
  @extend .dark;
  @include small;
}

.dark-large {
  @extend .dark;
  @include large;
}
