@import 'sport-app/theme';

@mixin button {
  border: none;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

.primary {
  @include button;
  background: var(--theme-primary);
  color: white;
}

.secondary {
  @include button;
  background: var(--theme-secondary);
  color: white;
}
