// Theme colors
$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-secondary-light: --theme-secondary-light;
$--theme-accent: --theme-accent;
$--theme-dark: --theme-dark;
// Text colors
$--text: --text;
$--text-disabled: --text-disabled;
$--text-secondary: --text-secondary;
$--text-white: --text-white;
$--text-dark: --text-dark;
// Status indicators
$--danger: --danger;
$--warning: --warning;
$--okay: --okay;
// Surface colors
$--surface0: --surface0;
$--surface1: --surface1;
$--surface2: --surface2;
$--surface3: --surface3;
$--surface4: --surface4;
$--surface5: --surface5;
$--surface6: --surface6;
$--surface7: --surface7;
$--surface8: --surface8;
$--surface9: --surface9;
$--separator: --separator;
// Theme font family
$--font-family: --font-family;
