@import 'variables';
@import 'mixins';

$theme-map: (
  // Hawkin brand colors
  $--theme-primary: #005a70,
  $--theme-secondary: #46acb9,
  $--theme-secondary-light: #7cdeed,
  $--theme-accent: #ffd740,
  $--theme-dark: #1e1e1e,
  // Text colors
  $--text: #ffffffb8,
  $--text-disabled: #ffffff1a,
  $--text-white: #fff,
  $--text-secondary: #ffffff8a,
  $--text-dark: #000000e0,
  // Status indicators
  $--danger: #ff0000,
  $--warning: #ffc107,
  $--okay: #4caf50,
  // Surface colors
  $--surface0: #121212,
  $--surface1: #1e1e1e,
  $--surface2: #222222,
  $--surface3: #242424,
  $--surface4: #272727,
  $--surface5: #2c2c2c,
  $--surface6: #2e2e2e,
  $--surface7: #333333,
  $--surface8: #343434,
  $--surface9: #383838,
  $--separator: #0d0d0d,
  // Theme font family
  $--font-family: ('Nunito Sans', sans-serif)
);

@mixin h1_styled {
  font-family: var(--font-family);
  font-size: calc(22px + (34 - 24) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 100;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

:root {
  @include spread-map($theme-map);
}
