@import 'variables';
@import 'mixins';

$theme-map: (
  // Hawkin brand colors
  $--theme-primary: #005a70,
  $--theme-secondary: #46acb9,
  $--theme-secondary-light: #7cdeed,
  $--theme-accent: #ffd740,
  $--theme-dark: #1e1e1e,
  // Text colors
  $--text: #ffffffb8,
  $--text-disabled: #ffffff1a,
  $--text-white: #fff,
  $--text-secondary: #ffffff8a,
  $--text-dark: #000000e0,
  // Status indicators
  $--danger: #ff0000,
  $--warning: #ffc107,
  $--okay: #4caf50,
  // Surface colors
  $--surface0: #121212,
  $--surface1: #1e1e1e,
  $--surface2: #222222,
  $--surface3: #242424,
  $--surface4: #272727,
  $--surface6: #2c2c2c,
  $--surface8: #2e2e2e,
  $--surface12: #333333,
  $--surface16: #343434,
  $--surface24: #383838,
  $--separator: #0d0d0d,
  // Theme font family
  $--font-family: ('Nunito Sans', sans-serif)
);

:root {
  @include spread-map($theme-map);
}
