@import 'sport-app/theme';

@mixin input {
  border: 1px solid;
  border-radius: 8px;
  height: 36px;
  padding: 0 0.5rem;
  margin: 0.5rem 1rem;
}

@mixin placeholder {
  &::placeholder {
    @content;
  }
  &::--webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

.primary {
  @include input;
  border-color: var(--theme-primary);
  color: var(--theme-primary);
}

.secondary {
  @include input;
  border-color: var(--theme-secondary);
}

.dark {
  @include input;
  @include placeholder {
    color: var(--text);
  }
  background-color: var(--surface1);
  border-color: var(--separator);
  color: var(--text);
}

.dark-outline {
  @include input;
  @include placeholder {
    color: var(--surface1);
  }
  border-color: var(--surface1);
  color: var(--text-dark);
}
