@import 'sport-app/theme';

@mixin row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.row {
  @include row;
}

.rowDark {
  @include row;
  background-color: var(--theme-dark);
}
